<h1 class="font-bold">Create new vendor</h1>
<%= form_with model: @vendor do |form| %>
    <% if @vendor.errors.any? %>
        <p><%= pluralize @vendor.errors.count, "error" %> prevented the operation</p>
        <% @vendor.errors.full_messages.each do |msg| %>
            <%= msg %>
        <% end %>
    <% end %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :country %>
        <%= form.text_field :country %>
    </div>
    <%= form.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
<% end %>